################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsCountry/v15/Server/sqlite3/db.lock
